@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-200: #3a78c0;
  --color-secondary: #fbbf24;
  --color-dark-100: #1f1f36;
  --color-dark-200: #141627;
  --color-dark-300: #101828;
  --color-dark-400: #2e2c48;
  --color-dark-500: #212121;
  --color-dark-600: #1c2833;
  --color-gray-100: #7f7e83;
  --color-gray-200: #eaecf0;
  --color-gray-500: #667085;
  --color-gray-600: #757575;
  --color-gray-700: #344054;
  --color-primary-50: #e9f3fb;
  --color-primary: #4a90e2;
  --color-primary-green: #8fbc94;
  --color-dark-background-color: #1c2833;
  --color-light-background-color: #ecf5fb;
  --color-medium-background-color: #d6e8f7;
  --color-primary-100: #256ff1;
  --color-primary-500: #175cd3;
  --color-light-100: #ecf2ef;
  --color-light-200: #f9fbfc;
  --color-light-300: #f2f4f7;
  --color-light-400: #ebeeed;
  --color-light-500: #e3f1ff;
  --color-success-50: #ecfdf3;
  --color-success-500: #12b76a;
  --color-success-700: #027a48;
  --color-pink-50: #f7edf6;
  --color-green-new-500: oklch(0.55 0.12 170);
  --color-green-new-600: oklch(0.7 0.1 165);
  --color-pink-500: #c11574;
  --color-navy-50: #f0f9ff;
  --color-navy-500: #026aa2;
  --color-red-500: #b93815;
  --color-red-50: #fff4ed;
  --color-red-100: #ff543d;
  --color-white-50: #d9ecff;
  --color-rose-500: #a79ab2;
}

* {
  font-family: Poppins, sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.font-playfair {
  font-family: 'Playfair', serif !important;
}

.contact-form {
  label {
    @apply block text-dark-500 mb-2 font-medium;
  }

  input,
  textarea {
    @apply w-full px-6 py-4 md:text-base text-sm text-gray-600  border-b rounded-2xl border-gray-600;
  }

  a {
    @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;

    img {
      @apply inline-block;
    }
  }
}

/* Markdown css */
.prose {
  /* Overall line height */
  line-height: 1.7 !important;

  /* Paragraph spacing */
  p {
    margin-bottom: 1.25rem !important;
    margin-top: 0.75rem !important;
  }

  /* Heading spacing */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: 700 !important;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0 !important;
  }
  h1 {
    font-size: 2rem !important;
    font-weight: 800 !important;
    color: #1f2937 !important; /* Dark gray */
    padding-bottom: 0.5rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    color: #374151 !important; /* Medium gray */
    border-bottom: 2px solid #6b7280 !important; /* Gray underline */
    padding-bottom: 0.25rem !important;
  }

  h3 {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    color: #4b5563 !important; /* Lighter gray */
  }

  h4 {
    font-size: 1.125rem !important;
    font-weight: 600 !important;
    color: #6b7280 !important;
  }

  h5 {
    font-size: 1.105rem !important;
    font-weight: 500 !important;
    color: #6b7280 !important;
  }

  h6 {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: #9ca3af !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em !important;
  }

  /* List spacing */
  ul,
  ol {
    margin-bottom: 1.25rem !important;
    margin-top: 0.75rem !important;
    padding-left: 1.5rem !important;
  }

  ul {
    list-style-type: disc !important;
  }

  ol {
    list-style-type: decimal !important;
  }

  li {
    display: list-item !important;
    margin-bottom: 0.5rem !important;
  }

  /* Line break spacing */
  br {
    margin-bottom: 0.75rem !important;
    display: block !important;
  }

  /* Blockquote spacing */
  blockquote {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    padding-left: 1rem !important;
    border-left: 4px solid #d1d5db !important;
  }
}

/* Custom keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animation utility classes */
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

/* work in progress classes */
.container {
  text-align: center;
  max-width: 600px;
  padding: 2rem;
  position: relative;
}
.progress-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 2rem;
  margin: 2rem 0;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.working-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.progress-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.progress-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.progress-bar-container {
  background: #cfe2ef;
  border-radius: 20px;
  padding: 2px;
  margin: 2rem 0;
}

.progress-bar {
  height: 10px;
  background: linear-gradient(90deg, #026aa2, #2090cc);
  border-radius: 16px;
  width: 75%;
  animation: pulse 3s infinite;
  /* box-shadow: 0 0 20px rgba(45, 90, 65, 0.5); */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(26, 40, 89, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(26, 40, 89, 0.8);
  }
  100% {
    box-shadow: 0 0 15px rgba(26, 40, 89, 0.5);
  }
}

.progress-text {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
}

/* glassMorphism card */
.feature-card {
  background: rgba(255, 255, 255, 0.4);
  padding: 1.5rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.feature-card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.custom-gradient-container {
  --color: #89a7a7;
  position: relative;
  margin: -18.8rem auto;
  height: 40rem;
  overflow: hidden;
  z-index: 0;

  /* Optional media query for larger screens */
  @media (min-width: 768px) {
    height: 45rem;
  }

  /* Mask for fading out around the center */
  mask-image: radial-gradient(
    ellipse at center center,
    --color-light-background-color,
    transparent 90%
  );
  -webkit-mask-image: radial-gradient(
    ellipse at center center,
    #fff,
    transparent 90%
  );
}

.custom-gradient-container::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at bottom center,
    var(--color),
    transparent 90%
  );
}

.custom-gradient-container::after {
  content: '';
  position: absolute;
  left: -50%;
  top: 50%;
  width: 200%;
  aspect-ratio: 1 / 0.7;
  border-top: 1px solid var(--border);
  background-color: #fff;
  border-radius: 90%;
}

@layer component {
  .section {
    @apply pt-34 px-10 md:px-16 lg:px-32;
  }
  .form {
    @apply p-5 mb-10 w-full max-w-xl flex flex-col items-center justify-center shadow-xl bg-white border border-gray-300/80 rounded-2xl;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #4a90e2;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-0: oklch(0.65 0.08 60);
  --chart-1: oklch(0.55 0.12 45);
  --chart-2: oklch(0.7 0.06 30);
  --chart-3: oklch(0.45 0.08 75);
  --chart-4: oklch(0.75 0.05 90);
  --chart-5: oklch(0.6 0.1 15);
  --chart-6: oklch(0.8 0.04 105);
  --chart-7: oklch(0.5 0.09 120);
  --chart-8: oklch(0.45 0.1 210);
  --chart-9: oklch(0.55 0.12 170);
  --chart-10: oklch(0.45 0.08 75);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #4a90e2;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
